<app-admin></app-admin>
<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <p>PRUEBA</p>
   
        <h4> INFORMACION CLIENTE </h4>
       <!--   <div class="starter-template rounded">
            <div class="row">
                <div class="col-md-12 mt-5">

                    <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for='item.identi'>No Identificación</label>
                                <input name="doc" formControlName="identi" type="number" required
                                    [(ngModel)]='item.identi' id="identi" class="form-control" />
                                <div
                                    *ngIf="signupForm.get('identi').hasError('required') && signupForm.get('identi').touched">
                                    Identificación Requerido</div>
                            </div>
                         <div class="form-group col-md-2">
                                <label for="item.tipo">T. Identificación</label>
                                <select name="tipo" formControlName="tipo" id="tipo" required [(ngModel)]='item.tipo' class="form-control">
                                    <option selected value="1"> </option>
                                </select> 
                            </div>
                            <p class="botom"><button type="submit" class="btn btn-primary"> Buscar</button> </p>
                        </div>


                     <div class="form-group">
                            <label for='item.nombre'>Nombre(s)</label>
                            <input name="nombre" formControlName="nombre" type="text" required [(ngModel)]='item.nombre'
                                id="nombre" class="form-control" />
                            <div
                                *ngIf="signupForm.get('nombre').hasError('required') && signupForm.get('nombre').touched">
                                Nombre Requerido</div>
                        </div>

                        <div class="form-group">
                            <label for='item.apellido'>Apellido(s)</label>
                            <input name="apellido" formControlName="apellido" type="text" required
                                [(ngModel)]='item.apellido' id="apellido" class="form-control" />
                            <div
                                *ngIf="signupForm.get('apellido').hasError('required') && signupForm.get('apellido').touched">
                                Apellido Requerido</div>
                        </div>

                        <div class="form-group">
                            <label for='item.telefono'>Telefono(s)</label>
                            <input name="telefono" formControlName="telefono" type="number" required
                                [(ngModel)]='item.telefono' id="telefono" class="form-control" />
                            <div
                                *ngIf="signupForm.get('telefono').hasError('required') && signupForm.get('telefono').touched">
                                Telefono Requerido</div>
                        </div>

                        <div class="form-group">
                            <label for='item.direccion'>Dirección</label>
                            <input name="direccion" formControlName="direccion" type="text" required
                                [(ngModel)]='item.direccion' id="direccion" class="form-control" />
                            <div
                                *ngIf="signupForm.get('direccion').hasError('required') && signupForm.get('direccion').touched">
                                Dirección Requerido</div>
                        </div>

                        <div class="form-group">
                            <label for='item.email'>Email</label>
                            <input name="email" formControlName="email" type="email" required [(ngModel)]='item.email'
                                id="email" class="form-control" />
                            <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched">
                                Email erroneo</div>
                        </div>

                       <div class="form-row">
                      <div class="form-group col-md-10">
                          <label for="inputState">Estado</label>
                          <select formControlName="estado" id="inputState" class="form-control">
                              <option selected value="0"> Desactivado </option>
                              <option selected value="1"> Activado </option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="inputZip">Tipo de Usuario</label>
                          <select formControlName="user" id="inputState" class="form-control">
                              <option selected value="1"> </option>
      
                          </select>
                      </div>
                    </div>

                        <div class="form-group text-center">
                            <button [disabled]="signupForm.invalid" type="submit"
                                class="btn btn-primary">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>-->
    <div class="container">

    

        <table class="table table-striped table-bordered"  *ngIf="hayRegistros(); else sin" >
            <tr>
                <td>Nombre</td>
                <td>Genero</td>
                <td>Celular</td>
                <td>Detalles</td>
            
            </tr>
            <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.nombre}}</td>
                
                <td>{{usuario.genero}}</td>
                <td>{{usuario.celular}}</td>

                <td>
                    
                       <button type="submit" class="btn btn-info" value="Detalles" [routerLink]="['informacion', usuario.id]">
                        Mas informacion
                    </button>
                </td>
            </tr>
          </table>
        <ng-template #sin>
            <p> No hay usuarios registrados</p>
        </ng-template>

    </div>



</body>

</html>