<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>

</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="assets/img/goflet.png" class="logo" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <h1 class="mt-4">Lorem ipsum</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At explicabo suscipit quod aliquid blanditiis rerum consectetur perferendis facilis officiis ipsa inventore quam numquam quo nihil laboriosam fuga ratione, eius tempore.</p>
  </div>


</body>


</html>