.foto_frontal {
    margin-left: 50px;
}


.sel {
    margin-right: 30%;
}

.foto_trasera {
    margin-left: 50px;

}

.goflet_logo{
    position: absolute;
    width: 10%;
    height: 10%;
}

.container{
    margin-top: 3%;
}

.btn-eliminar{
    align-content: center;
    margin-top: 10%;
    width: 93%;
    background: #0079AE ;
    color: white ;
}

.btn-eliminar:focus{

        box-shadow: none ;
        outline: 0px ;
    
}

.btn-enviar{
    margin-right: 20%;
}

.fotos{
    align-content: center;
}

.logo{
    height: 50px;

}